.arrow {
  width: 30px;
  height: 30px;
  margin: 0 0.5rem;
  display: inline-block;
  border-bottom: 5px solid var(--color-muted);
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 26px solid var(--color-danger);
  border-bottom: none;
}
.arrow-up {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 26px solid var(--color-success);
}
