.panel {
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: 10px solid var(--color-brand);
  box-sizing: border-box;
  margin: var(--gutter) auto var(--gutter);
  max-width: 100%;
  padding: var(--gutter);
  width: var(--width-max);
}
.panel-title {
  margin: 0;
}
.panel-subtitle {
  margin: 0;
}
.panel-chart {
  margin: var(--gutter) 0;
}
.panel-footer {
  text-align: center;
}
