/* Global CSS */
:root {
  --color-danger: red;
  --color-success: green;
  --color-dark: #000;
  --color-muted: #888;
  --color-light: #cecece;
  --width-max: 960px;
  --gutter: 3rem;
  --gutter-small: 1.2rem;
  --gutter-minus: -3rem;
  --color-brand: #fe752f;
}
html {
  font-size: 12px;
}
@media (min-width: 600px) {
  html {
    font-size: 17px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #222;
  font-size: 1rem;
  background-color: #eee;
}

table {
  width: 100%;
}

th {
  text-align: left;
}

td, th {
  padding: 0.5rem;
  border-bottom: 1px solid var(--color-light);
}

tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.7);
}

h2 {
  font-size: 2.2rem;
  font-weight: 500;
}

h3 {
  font-size: 1.9rem;
  font-weight: 400;
}

h4 {
  font-size: 1.55rem;
  font-weight: 300;
}

small {
  color: var(--color-muted);
}

.error {
  color: var(--color-danger);
}

.app {
  padding: var(--gutter-small);
  box-sizing: border-box;
  width: 100%;
}

.app-title {
  font-size: 3rem;
  font-weight: 100;
  margin: var(--gutter-small) var(--gutter);
  text-align: center;
}

.app-copyright {
  text-align: center;
}
